:root {
  --lightPrimaryBgHue: 300;
  --lightSecondary: 240;
  --lightThirdBg: 293;

  --lightBaseBg: white;
  --lightPrimaryBg: rgb(247, 231, 247);
  --lightSecondaryBg: rgb(237, 237, 255);
  --lightThirdBg: hsla(293, 100%, 63.5%, 0.54);
}

.container-main {
  --border-radius: 0.5%;

  background: linear-gradient(0.125turn, mistyrose, 95%, rgb(255, 220, 220));
  border-radius: var(--border-radius);
  margin: 2.5dvh 5dvw;
  padding: 5vh;
  position: relative;
  box-sizing: border-box;
}

.container-main::before {
  border-radius: var(--border-radius);
  content: "";
  background-image: linear-gradient(
    to right,
    var(--lightPrimaryBg),
    var(--lightThirdBg)
  );
  z-index: -1;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  position: absolute;
}

.card-home-welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2dvh;
}

.card-welcome {
  display: flex;
  flex-flow: column;
  border-image: linear-gradient(
      to right,
      var(--lightThirdBg),
      var(--lightPrimaryBg)
    )
    1;
  border-width: 5px;
  border-style: solid;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5dvh;
}

span {
  background: linear-gradient(to right top, rgb(156, 0, 156), rgb(0, 0, 0));
  background-clip: text;
  color: transparent;
  background-size: 900%;
  background-position: 0 50%;
  text-shadow: 0 0 2em pink;
  -webkit-text-fill-color: transparent;
  animation: animate-background 3s infinite alternate linear;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.card-text {
  composes: card-welcome;
}

.card-text a {
  text-decoration: none;
  color: rgb(160, 0, 75);
  transition: color 0.25s ease-in 0s;
  background-color: var(--lightPrimaryBg);
  border: 1px solid var(--lightThirdBg);
}

.card-text a:hover,
.card-text a:focus {
  text-decoration: underline;
  color: purple;
}

.card-text a:active {
  text-decoration: underline;
}

.card-text a:visited {
  text-decoration: none;
}
