@import url("../colors.css");
.container-main {
  composes: container-main from "./Home.module.css";
}

.container-main section {
  display: grid;
  grid-template: repeat(auto-fill, minmax(150px, 1fr)) / repeat(
      auto-fill,
      minmax(max(300px, 20%), 1fr)
    );
  gap: 2vw;
}

.card-stage {
  background-color: white;
  padding: 5dvh;
  border-image: linear-gradient(
      to right,
      var(--lightThirdBg),
      var(--lightPrimaryBg)
    )
    1;
  border-width: 5px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.card-stage-left {
  flex: 2 1;
}

.card-stage-left dt {
  color: darkblue;
}

.card-stage-left dd {
  margin-bottom: 2dvh;
}

.card-stage-right {
  flex: 3 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2dvh;
}

.card-stage-right img {
  border: 0.5dvh plum solid;
  border-radius: 5px;
}

.card-stage:hover {
  box-shadow: 0 0 1em pink;
}

.header-stage {
  background: linear-gradient(to right top, rgb(70, 0, 70), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
  background-size: 900%;
  background-position: 0 50%;
  text-shadow: 0 0 2em pink;
  -webkit-text-fill-color: transparent;
  animation: animate-background 3s infinite alternate linear;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.card-stage-right button {
  background-color: rgb(250, 207, 250);
}

.card-stage-right button:hover {
  background-color: rgb(195, 131, 255);
  cursor: pointer;
}