:root {
  --lightPrimaryBgHue: 300;
  --lightSecondary: 240;
  --lightThirdBg: 293;

  --lightBaseBg: white;
  --lightPrimaryBg: rgb(247, 231, 247);
  --lightSecondaryBg: rgb(237, 237, 255);
  --lightThirdBg: hsla(293, 100%, 63.5%, 0.54)
}
