.container-nav {
  background-image: linear-gradient(
    to right,
    rgb(247, 231, 247),
    rgb(237, 237, 255)
  );
}

.card-nav {
  display: flex;
  flex-flow: row wrap;
}

.container-links {
  flex: 1 1 auto;
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
  font-size: 1.25em;
  padding: 0.5% 0;
  align-items: center;
}

.card-link {
}

.a-link {
  text-decoration: none;
  color: black;
  transition: color 0.25s ease-in 0s;
}

.a-link:visited {
  text-decoration: none;
}

.a-link:hover {
  text-decoration: underline;
  color: blue;
}

.a-link:active {
  text-decoration: underline;
}

.container-web-title {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-web-title {
  display: flex;
  align-items: center;
  gap: 15px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, black, black);
  transition: background-image 0.25s ease-in 1s;
  -webkit-transition: background-image 0.25s ease-in 1s;
}

.card-web-title:hover, .card-web-title:focus {
  cursor: pointer;
  background-image: linear-gradient(to right, blue, purple);
}

.card-web-title span {
  font-size: 1.25em;
}

.card-web-title img {
  height: 2.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card-web-title:hover img, .card-web-title:focus img {
  filter: drop-shadow(0 0 0.1em blue)
}
